@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --fundo-escuro: #000;
    --fundo-card: #1d2226;
    --fundo-card-ativo: hsla(0, 0%, 100%, 0.12);
    --texto-principal: hsla(0, 0%, 100%, 0.9);
    --texto-secundario: hsla(0, 0%, 100%, 0.6);
    --texto-escuro: hsla(0, 0%, 0%, 0.75);
    --input: #38434F;
    --primario: #70b5f9;
    --positivo: #3ec786;
    --letra-branca: #ffffff;
  }

  body{
    width: 1440px;
    height: 2139px;
    background: var(--fundo-escuro);
  }

  header#tam{
    width: 1440px;
    height: 52px;
    flex-shrink: 0;
    background: var(--fundo-card);
  }

  img#logo{
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    margin: 9px 1253px 9px 153px;
  }

  img#pesq{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin: 5px 248px 5px 8px;
  }

  p#descPesq{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: var(--letra-branca);
    margin-left: -244px;
  }

  div#icones{
    display: flex;
    width: 400px;
    height: 38px;
    flex-shrink: 0;
    margin: 7px 473px 7px 567px;
    margin-top: -44px;
  }

  div#caixaHome{
    width: 80px;
    height: 38px;
    flex-shrink: 0;
  }

  div#caixaRede{
    width: 80px;
    height: 38px;
    flex-shrink: 0;
  }

  div#caixaVagas{
    width: 80px;
    height: 38px;
    flex-shrink: 0;
  }

  div#caixaSMS{
    width: 80px;
    height: 38px;
    flex-shrink: 0;
  }

  div#caixaSinal{
    width: 80px;
    height: 38px;
    flex-shrink: 0;
  }

  div#caixaSol{
    width: 80px;
    height: 38px;
    flex-shrink: 0;
  }

  img.home{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin: 0px 28px 0px 28px;
  }

  img.rede{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin: 0px 28px 0px 28px;
  }

  img.vaga{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin: 0px 28px 0px 28px;
  }

  img.mensagem{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin: 0px 28px 0px 28px;
  }

  img.notifica{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin: 0px 28px 0px 28px;
  }

  img.solucao{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin: 0px 28px 0px 28px;
  }

  p#in{
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--letra-branca);
    margin-top: -3px;
  }

  p#net{
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--letra-branca);
    margin-top: -3px;
  }

  p#vaga{
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--letra-branca);
    margin-top: -3px;
  }

  p#sms{
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--letra-branca);
    margin-top: -3px;
  }

  p#sinal{
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--letra-branca);
    margin-top: -3px;
  }

  p#sol{
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--letra-branca);
    margin-top: -3px;
  }

  div#tamPesq{
    display: flex;
    width: 280px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--input);
    margin: 9px 965px 9px 195px;
    margin-top: -47px;
  }

  .infPerfil{
    width: 780px;
    height: 468px;
    flex-shrink: 0;
    margin: 24px 506px 1595px 154px;
  }

  .imagem{
    width: 780px;
    height: 230px;
    flex-shrink: 0;
    border-radius: 16px 16px 0px 0px;
    background: url("https://media.licdn.com/dms/image/D4D16AQEsPigscFbEFw/profile-displaybackgroundimage-shrink_350_1400/0/1701190874308?e=1706745600&v=beta&t=aFvGUYt34uW8840mxyKIR_cGjVGPix7rI9UJXDOBmy0"), lightgray 50% / cover no-repeat;
  }

  .foto{
    display: flex;
    width: 160px;
    height: 160px;
    flex-shrink: 0;
    border-radius: 160px;
    border: 4px solid var(--fundo-card);
    margin: 118px 596px 190px 24px;
    margin-top: -250px;
  }

  .infPessoal{
    display: flex;
    width: 780px;
    height: 238px;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px 0px 16px 16px;
    background-color: var(--fundo-card);
    margin-top: -5px;
  }

  .infLocal{
    flex-direction: column;
    width: 297px;
    height: 20px;
    flex-shrink: 0;
  }

  img#imagemInstituicao{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    margin: 0px 0px 0px 560px;
    margin-top: -150px;
  }

  p#insFacul{
    flex-direction: column;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.90);
    margin: -35px 0px 0px 600px;
  }

  div#espacamento{
    margin-bottom: 4px;
  }

  .infConexoes{
    width: 191px;
    height: 20px;
    flex-shrink: 0;
    margin-bottom: 6px;
  }

  .botoes{
    display: flex;
    flex-direction: column;
    margin: 4px 0px 0px 24px;
    width: 263px;
    height: 32px;
    flex-shrink: 0; 

  }

  button#mensagem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 29px 6px 29px;
    width: 128px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--primario);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #000;
  }

  button#mais{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 29px 6px 29px;
    width: 128px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid var(--primario);
    background: rgba(255, 255, 255, 0.00);
    color: var(--primario);
    margin: 0px 0px 0px 137px;
    margin-top: -32px;
  }

  div#quadroDestaque{
    width: 780px;
    height: 312px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--fundo-card);
    margin-top: 8px;
  }

  p#tituloDest{
    display: flex;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    color: var(--letra-branca);
    margin: 0px 0px 0px 24px;
    margin-top: -302px;
  }

  div#caixaCard{
    width: 238px;
    height: 236px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.60);
    margin: 54px 526px 22px 16px;
    margin-top: 10px;
  }

  div#caixaCard1{
    width: 238px;
    height: 236px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.60);
    margin: 0px 526px 22px 272px;
    margin-top: -258px;
  }

  div#caixaCard2{
    width: 238px;
    height: 236px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.60);
    margin: 0px 526px 22px 276px;
    margin-top: -258px;
    margin-left: 527px;
  }


  p#pub{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.60);
    margin: 12px 0px 0px 14px;
  }

  p#descPub{
    width: 206px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: var(--letra-branca);
    margin: 0px 0px 0px 14px;
  }

  img.imagemPub{
    width: 236px;
    height: 152px;
    flex-shrink: 0;
    margin-top: 4px;
  }

  img.esferas{
    width: 32px;
    height: 16px;
    flex-shrink: 0;
    margin: 2px 2px 2px 2px;
  }

  p#numero{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    margin-top: -23px;
    margin-right: 140px;
  }

  p#comment{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    margin-top: -20px;
    margin-right: -154px;
  }

  p#local{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.60);
    margin: 0px 0px 0px 24px;
    margin-bottom: 4px;
    margin-right: 6px;
  }

  a#infContato{
    flex-direction: column;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: var(--primario);
    margin: -20px 0px 0px 247px;
    text-decoration: none;
    margin-bottom: 3px;
  }

  a#qtdConex{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: var(--primario);
    margin: 0px 0px 0px 24px;
    text-decoration: none;
    margin-bottom: 3px;
  }

  p#nomeSobrenome{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    color: var(--letra-branca);
    margin: 0px 0px 0px 24px;
    margin-top: -170px;
  }

  p#desc{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: var(--letra-branca);
    margin: 0px 0px 0px 24px;
  }

  p#desc1{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: var(--letra-branca);
    margin: 0px 0px 0px 24px;
    margin-bottom: 4px;
  }

  p#separa{
    width: 1px;
    height: 52px;
    color: var(--letra-branca);
    font-size: 55px;
    margin-top: -18px;
  }