@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

:root{
    --fundo-escuro: #000;
    --fundo-card: #1d2226;
    --fundo-card-ativo: hsla(0, 0%, 100%, 0.12);
    --texto-principal: hsla(0, 0%, 100%, 0.9);
    --texto-secundario: hsla(0, 0%, 100%, 0.6);
    --texto-escuro: hsla(0, 0%, 0%, 0.75);
    --input: #38434F;
    --primario: #70b5f9;
    --positivo: #3ec786;
    --letra-branca: #ffffff;
  }

  body{
    width: 1440px;
    height: 2139px;
    background: var(--fundo-escuro);
  }

  .infPerfil{
    width: 780px;
    height: 468px;
    flex-shrink: 0;
    margin: 76px 506px 1595px 154px;
  }

  .imagem{
    width: 780px;
    height: 230px;
    flex-shrink: 0;
    border-radius: 16px 16px 0px 0px;
    background: url("https://media.licdn.com/dms/image/D4D16AQEsPigscFbEFw/profile-displaybackgroundimage-shrink_350_1400/0/1701190874308?e=1706745600&v=beta&t=aFvGUYt34uW8840mxyKIR_cGjVGPix7rI9UJXDOBmy0"), lightgray 50% / cover no-repeat;
  }

  .foto{
    width: 160px;
    height: 160px;
    flex-shrink: 0;
    border-radius: 160px;
    border: 4px solid var(--fundo-card);
    margin: 0px 0px 0px 24px;
    margin-top: -115px;
  }

  .infPessoal{
    width: 780px;
    height: 238px;
    flex-shrink: 0;
    flex-direction: column;
    border-radius: 0px 0px 16px 16px;
    background-color: var(--fundo-card);
    margin: 230px 0px 0px -780px;
  }

  .infLocal{
    flex-direction: column;
    width: 297px;
    height: 20px;
    flex-shrink: 0;
  }

  img#imagemInstituicao{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    margin: 0px 0px 0px 560px;
    margin-top: -150px;
  }

  p#insFacul{
    flex-direction: column;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.90);
    margin: -35px 0px 0px 600px;
  }

  div#espacamento{
    margin-bottom: 4px;
  }

  .infConexoes{
    width: 191px;
    height: 20px;
    flex-shrink: 0;
    margin-bottom: 6px;
  }

  .botoes{
    flex-direction: column;
    margin: 4px 0px 0px 24px;
    width: 263px;
    height: 32px;
    flex-shrink: 0; 

  }

  button#mensagem{
    justify-content: center;
    align-items: center;
    padding: 6px 29px 6px 29px;
    width: 128px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--primario);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #000;
  }

  button#mais{
    justify-content: center;
    align-items: center;
    padding: 6px 29px 6px 29px;
    width: 128px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid var(--primario);
    background: rgba(255, 255, 255, 0.00);
    color: var(--primario);
    margin: 0px 0px 0px 137px;
    margin-top: -32px;
  }

  p#local{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.60);
    margin: 0px 0px 0px 24px;
    margin-bottom: 4px;
    margin-right: 6px;
  }

  a#infContato{
    flex-direction: column;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: var(--primario);
    margin: -20px 0px 0px 247px;
    text-decoration: none;
    margin-bottom: 3px;
  }

  a#qtdConex{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: var(--primario);
    margin: 0px 0px 0px 24px;
    text-decoration: none;
    margin-bottom: 3px;
  }

  p#nomeSobrenome{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    color: var(--letra-branca);
    margin: 0px 0px 0px 24px;
    margin-bottom: 1px;
  }

  p#desc{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: var(--letra-branca);
    margin: 0px 0px 0px 24px;
  }

  p#desc1{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: var(--letra-branca);
    margin: 0px 0px 0px 24px;
    margin-bottom: 4px;
  }